@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/CutiveMono-Regular.ttf);
}

body {
  background: red;
  margin: 0;
  color: #001;
  font-family: 'Cutive Mono', monospace;
  font-size: 1em;
  background: #fafafa;
}

section {
  max-width: 520px;
  margin: 7em auto;
  padding: 0 10px;
}

h1, h2 {
  font-weight: 400;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 1.9em;
}

h2 {
  margin: 1.6em 0 0.6em;
  font-size: 1.2em;
}

p {
   line-height: 1.3em;
}
