@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/CutiveMono-Regular.ttf);
}

body {
  background: red;
  margin: 0;
  color: #001;
  font-family: 'Cutive Mono', monospace;
  font-size: 1em;
  background: floralwhite;
}

section {
  max-width: 520px;
  margin: 2em auto;
  padding: 0 10px;
}

h1, h2 {
  font-weight: 400;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

h2 {
  margin-top: 1.4em;
  font-size: 1.1em;
}

p {
   line-height: 1.3em;
}

a {
  padding: 0 0.1em;
  text-decoration: none;
  color: #001;
  background: gainsboro;
}

a:hover, a:active {
  background: #C6C6C6;
}

@media only screen and (min-width: 768px) {

  section {
    margin-top: 5em;
  }

  h1 {
    font-size: 1.9em;
  }
}